@CHARSET "UTF-8";

body{font: 12px/140% "Microsoft Yahei","微软雅黑",'Arial','san-serif';color: #666;margin: 0;padding: 0;}

a,span,footer{color:#666;}
p{margin:0;}
ul{margin:0;padding:0;}
li{list-style: none;}
a:focus{outline: none;}
a {text-decoration: none;cursor: pointer}
/* animation */
@-webkit-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@-moz-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@-o-keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
@keyframes fadein{
    from{opacity: 0; }
    to{opacity: 1; }
}
/* ----------------------------------------------- */

/* 自定义样式 */
.fl{float:left;}
.fr{float:right;}
.oh{overflow:hidden;}
.tc{text-align:center;}
.tr{text-align:right;}
.tl{text-align:left;}
.dn{display:none;}
.db{display:block;}
.dib{display:inline-block;}
.cp{cursor:pointer;}
.f14{font-size:14px;}
.pt15{padding-top: 15px;}
/* ----------------------------------------------- */
#wrapper{
    display: block;
    _height: 100%;
    min-height: 100%;
}
#header{padding:14px 14px 8px 8px ;overflow:hidden;border-bottom: 1px solid #ebebeb;}
#header span{color:#666;float: left;line-height:20px;}

.sp{padding:0 5px;}
.headNavs{width:800px;}
.headNavs a{padding-right:10px;text-decoration:none;display:inline-block;}
.headNavs a:hover span{text-decoration:underline;}
.topMenus{padding-top: 6px;position: absolute;right: 20px;top: 33px;width: 90px;z-index: 999;}
.topMenus a{background-color: #FFFFFF;color: #0079F5;display: block;height: 25px;line-height: 25px;padding-left: 6px;text-align: center;text-decoration: none;}
.topMenus a:hover{background-color: #f1f8ff;}

.skin-logo {
    background-image: url(/images/logo.png);
    background-image: -webkit-image-set(url(/images/logo.png) 1x,url(/images/logo.png) 2x);
    background-repeat: no-repeat;
    background-position: center center;
    display: block;
    height: 125px;
    margin: 0 auto;
    position: relative;
    width: 400px;
    z-index: 0;
}
#bd_logo {
    margin: 45px auto 35px;
    text-align: center;
}

#main {
    clear: both;
    margin: 0 auto;
    padding-bottom: 75px;
    width: 880px;
}

#input-container {
    background: #fff;
    height: 44px;
    position: relative;
    width: 531px;
    z-index: 9;
}

#suggest-align {
    background: #fff;
    height: 34px;
    padding: 4px 10px 4px 12px;
    position: relative;
    vertical-align: top;
    margin:0 auto;
}
#input {
    background: #fff;
    border: none;
    color: #333;
    float: left;
    font-size: 16px;
    height: 30px;
    line-height: 30px;
    margin-top: 3px;
    outline: none;
    width: 506px;
}
.skin-search-input {
    border: 1px solid #ccc;
}
#search-button {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 44px;
    left: 530px;
    outline: none;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 110px;
}
#search-button {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 44px;
    left: 530px;
    outline: none;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 110px;
}
.skin-search-button {
    background: #12b951;
    color: #fff;
}
#bd_search {
    margin-bottom: 20px;
    margin-left: auto;
    margin-right: auto;
    -webkit-transition: margin-bottom .4s;
    -moz-transition: margin-bottom .4s;
    -ms-transition: margin-bottom .4s;
    transition: margin-bottom .4s;
    width: 645px;
}

/*list*/

#list-input-container {
    background: #fff;
    height: 34px;
    position: relative;
    width: 531px;
    z-index: 9;
}

#list-suggest-align {
    background: #fff;
    border: 1px solid #ccc;
    border-right: none;
    display: inline-block;
    height: 34px;
    vertical-align: top;
    width: 539px;
}
#list-input {
    -webkit-appearance: none;
    background: #fff;
    background: transparent;
    border: 0;
    border-radius: 0;
    font: 16px/22px arial;
    height: 22px;
    margin: 7px 0 0 7px;
    outline: 0;
    padding: 0;
    position: relative;
    width: 500px;
    z-index: 1;
}
#list-search-button {
    -webkit-appearance: none;
    border: 0;
    cursor: pointer;
    font-family: "Microsoft YaHei";
    font-size: 18px;
    height: 36px;
    left: 530px;
    outline: none;
    position: absolute;
    top: 0;
    vertical-align: top;
    width: 110px;
}
#list_tab {
    background: #f8f8f8;
    line-height: 34px;
    height: 34px;
    padding: 5px 0 0 136px;
    float: none;
    zoom: 1;
}

#list_tab b {
    border-bottom: 2px solid #12b951;
    font-weight: bold;
    color: #323232;
    width: 54px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    font-size: 14px;
}
#list_tab a {
    width: 54px;
    display: inline-block;
    text-decoration: none;
    text-align: center;
    color: #666;
    font-size: 14px;
}

#container {
    margin-top: 18px;
    padding-left: 131px;
    position: relative;
}
#main-left {
    float: left;
    position: relative;
    width: 540px;
    z-index: 10;
}
.ul-result .li-result{
    font-size: 13px;
    line-height: 20px;
    margin-bottom: 21px;
}
.ul-result .li-result h3.title{
    font-weight: 400;
    font-size: 16px;
    margin-bottom: 3px;
}
.ul-result .li-result h3.title a{
    color: #1024ee
}
#main-right{

}
#list-footer {
    bottom: 0;
    left: 0;
    min-width: 700px;
    padding: 6px 0;
    position: relative;
    text-align: center;
    width: 100%;
    background: #FAFAFA;
    color: #ccc;
    font-size: 12px;
    height: 53px;
    line-height: 53px;
    margin-top: 30px;
    padding-left: 40px;
}
#main-right{
    border-left: 1px solid #e1e1e1;
    float: right;
    padding-left: 17px;
    width: 384px;
    margin-top: 45px;
}
#list-footer span{color:#999;}
#list-footer a{
    color: #999;
    font-size: 12px;
    margin: 0 8px;
    text-decoration: none;
}
.relation-search{
    padding: 0;
    margin: 0 0 0 131px;
    width: 600px;
}
.relation-search h2{
    padding: 0;
    line-height:15px;
}
.relation-search table{
    width:540px;
}
.relation-search table tbody tr th{
    font-size: 14px;
    font-weight: normal;
    white-space: nowrap;
    text-align: left;
    vertical-align: top;
    width: 175px;
    line-height: 22px;
}
.relation-search table tbody tr th td{width:5px;}
.relation-search table tbody tr th a{
    color:#1024ee;
    text-decoration: underline;
}


/*detail style*/

.bgWhite {
    background: #fff;
    padding: 10px 20px;
    width: 947px;
    margin: 10px auto 0;
    border: 1px solid #e2e2e2;
}
.detailSoft-box {
    margin: 10px 0 0;
    position: relative;
}
.clearfix:after {
    content: ".";
    display: block;
    visibility: hidden;
    clear: both;
    height: 0;
    font-size: 0;
}
.detailSoft-box .soft-header .pic {
    float: left;
    margin: 4px 15px 0 0;
}
.detailSoft-box .soft-header .soft-info {
    overflow: inherit;
    zoom: 1;
    padding: 0 325px 0 0;
}
.detailSoft-box .soft-header .soft-title {
    height: 28px;
}
.detailSoft-box .button-box .button {
    position: relative;
    float: left;
    width: 266px;
    height: 62px;
    overflow: hidden;
}
.detailSoft-box .button-box .button, .detailSoft-box .button-box .text-icon, .fixed-bar .download {
    background: url(/images/download_icon.png) no-repeat;
}
.detailSoft-box .soft-header .soft-title {
    position: relative;
    font: normal 22px/38px arial,'Microsoft YaHei','\5FAE\8F6F\96C5\9ED1';
    word-break: break-all;
}
.soft-summary-mt {
    margin-top: 10px;
    border-top: 1px solid #ececec;
    padding-top: 15px;
}
.soft-box {
    width: 600px;
    float: left;
    border-bottom: 1px solid #eee;
    padding-bottom: 10px;
}
.soft-text-l {
    width: 300px;
    float: left;
}
.downloat-box {
    margin-bottom: 24px;
}
.detailSoft-box .button-box {
    position: relative;
    height: 70px;
}
.detailSoft-box .button-box .downLoad-button {
    background-position: 0 0;
    background-color: #279545;
}
.detailSoft-box .soft-text li {
    float: none;
    overflow: hidden;
    height: 28px;
    width: 100%;
    padding: 0;
    line-height: 28px;
    word-break: break-all;
}
.detailSoft-box .soft-text span {
    float: left;
    width: 60px;
    color: #999;
}

.detailSoft-box .soft-text {
    margin: 10px 0 0 0;
}
.soft-text-r {
    width: 300px;
    float: right;
}
.detailSoft-box .download-box {
    padding: 0 9px 3px 0;
}
.detailSoft-box .relative-soft {
    _display: inline;
    float: right;
    line-height: 28px;
    width: 271px;
    height: 62px;
    position: relative;
}
.detailSoft-box .soft-text {
    margin: 10px 0 0 0;
}
.alink-acolor {
    color: #999;
}

.detailSoft-box .relative-soft li {
    float: none;
    width: 100%;
}
.down-alink-ul li {
    height: 38px;
    line-height: 38px;
    border-bottom: 1px dashed #ccc;
}
.down-alink-ul span {
    float: right;
    color: #999;
    font-family: arial;
}
.down-alink-ul a {
    color: #36c;
    height: 38px;
    overflow: hidden;
    display: block;
    white-space: nowrap;
    text-overflow: ellipsis;
}
.detailSoft-box .button-box .dnum {
    color: #fff;
    font-size:28px;
    font-weight:bold;
    font-family: Arial;
    position: absolute;
    line-height: 16px;
    left: 90px;
    top:25px;
}
#footer {
    bottom: 0;
    left: 0;
    line-height: 24px;
    min-width: 700px;
    padding: 6px 0;
    position: absolute;
    text-align: center;
    width: 100%;
}